@define-mixin media-query-desktop {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin media-query-tablet {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin media-query-small-mobile {
  @media (max-width: 374px) {
    @mixin-content;
  }
}

@define-mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@define-mixin heading-styles {
  font: inherit;
  font-size: 1.375rem; /* 22px */
  font-variation-settings: "wght" var(--fw-semi-bold);
  line-height: 1.27;
}

@define-mixin body-styles {
  font: inherit;
  font-size: 1.125rem; /* 18px */
  font-variation-settings: "wght" var(--fw-light);
  line-height: 1.44;
}

@define-mixin caption-bold-styles {
  font: inherit;
  font-size: 0.9375rem; /* 15px */
  font-variation-settings: "wght" var(--fw-semi-bold);
  line-height: 1.26;

  @mixin media-query-tablet {
    font-size: 1rem; /* 16px */
    line-height: 1.25;
  }
}

@define-mixin caption-styles {
  font: inherit;
  font-size: 0.9375rem; /* 15px */
  font-variation-settings: "wght" var(--fw-regular);
  line-height: 1.26;

  @mixin media-query-tablet {
    font-size: 1rem; /* 16px */
    line-height: 1.25;
  }
}
