@import "./_css-reset.css";
@import "./_mixins.css";

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --color-very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --color-very-dark-blue-line: hsl(215, 32%, 27%);
  --default-font-family: "Outfit", sans-serif;
  --default-font-size: 16px;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--default-font-family);
  font-variation-settings: "wght" var(--fw-regular);
  font-size: var(--default-font-size);
  color: var(--color-white);
  background-color: var(--color-very-dark-blue-main-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-inline-size: 100%;
  object-fit: cover;
}

main {
  padding: 62px 1.5rem 0;
}

.l-flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--align-center {
    align-items: center;
  }

  &--gap-1 {
    gap: 1rem;
  }
}

.is-hidden {
  @mixin visually-hidden;
}

.card {
  --card-width: 100%;
  --card-height: auto;

  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--color-very-dark-blue-card-bg);
  border-radius: 15px;
  padding: 1.5rem;

  &__heading {
    @mixin heading-styles;

    margin-top: 1.5rem;
  }

  &__body {
    @mixin body-styles;

    color: var(--color-soft-blue);
    margin-top: 0.75rem;
  }

  &__link {
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      color: var(--color-cyan);
    }
  }

  &__data-time {
    margin-top: 1rem;
  }

  &__data {
    display: flex;
    align-items: center;
    gap: 6.8px;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 7.7px;
  }

  &__caption {
    @mixin caption-styles;

    color: var(--color-soft-blue);

    &--bold {
      @mixin caption-bold-styles;
    }

    &--cyan {
      color: var(--color-cyan);
    }

    &--author {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &__divider {
    margin: 1rem 0;
    width: 100%;
    height: 1px;
    border: 0.5px solid var(--color-very-dark-blue-line);
  }

  &__image {
    width: 100%;
    border-radius: 8px;
  }

  &__author-image {
    --size: 33px;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid var(--color-soft-blue);
  }
}
