@import "./_css-reset.css";
@import "./_mixins.css";

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --color-very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --color-very-dark-blue-line: hsl(215, 32%, 27%);
  --default-font-family: "Outfit", sans-serif;
  --default-font-size: 16px;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--default-font-family);
  font-variation-settings: "wght" var(--fw-regular);
  font-size: var(--default-font-size);
  color: var(--color-white);
  background-color: var(--color-very-dark-blue-main-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-inline-size: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;

  &:hover {
    color: var(--color-cyan);
  }
}

main {
  width: 100%;
  min-height: 100vh;
}

.visually-hidden {
  @mixin visually-hidden;
}

/* composition */
.grid-flow-md {
  @mixin media-query-tablet {
    display: grid;
    place-items: center;
  }
}

.flex-col {
  --gap: 0;

  display: flex;
  flex-direction: column;
  gap: var(--gap, 0);
}

.flex-row {
  --gap: 0;

  display: flex;
  gap: var(--gap, 0);
  align-items: center;
}

/* utilities */
.divider {
  width: 100%;
  height: 1px;
  border: 0.5px solid var(--color-very-dark-blue-line);
  margin: 1.5rem 0;

  @mixin media-query-tablet {
    margin: 1.5rem 0 1rem;
  }
}

.text-heading {
  @mixin heading-styles;
}

.text-body {
  @mixin body-styles;
}

.text-caption {
  @mixin caption-styles;

  &[data-type="bold"] {
    @mixin caption-bold-styles;
  }
}

.color-white {
  color: var(--color-white);
}

.color-soft-blue {
  color: var(--color-soft-blue);
}

.color-cyan {
  color: var(--color-cyan);
}

.card-bg {
  background-color: var(--color-very-dark-blue-card-bg);
}

.br-8 {
  border-radius: 0.5rem;
}

.br-15 {
  border-radius: 0.9375rem;
}

.p-24 {
  padding: 1.5rem;
}

.pt-62 {
  padding-top: 62px;

  @mixin media-query-tablet {
    padding-top: 0;
  }
}

.mt-12 {
  margin-top: 0.75rem;

  @mixin media-query-tablet {
    margin-top: 1rem;
  }
}

.mt-16 {
  margin-top: 1rem;

  @mixin media-query-tablet {
    margin-top: 1.5rem;
  }
}

.mt-24 {
  margin-top: 1.5rem;
}

.my-16 {
  margin: 1rem 0;
}

.push-right {
  margin-left: auto;
}

.gap-5 {
  gap: 5px;
}

.gap-16 {
  gap: 1rem;
}

.gap-custom-data {
  gap: 6.8px;
}

.gap-custom-time {
  gap: 7.7px;
}

/* blocks */
.card {
  --card-width: 327px;
  --card-height: auto;

  width: var(--card-width);
  height: var(--card-height);
  margin: 0 auto;

  &__figure[data-type="main"] {
    position: relative;

    &:hover {
      --icon-size: 48px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-cyan);
        border-radius: 8px;
        opacity: 0.5;
      }

      &::after {
        content: "";
        width: var(--icon-size);
        height: var(--icon-size);
        position: absolute;
        top: calc(50% - var(--icon-size) / 2);
        left: calc(50% - var(--icon-size) / 2);
        background-image: url("../images/icon-view.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__author-image {
    --size: 33px;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid var(--color-soft-blue);
  }

  @mixin media-query-small-mobile {
    --card-width: 100%;
  }

  @mixin media-query-tablet {
    --card-width: 350px;
    --card-height: 598px;
  }
}
